* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: rgb(190, 20, 90);
  background: rgb(190, 20, 90);
  background: linear-gradient(
    270deg,
    rgba(190, 20, 90, 1) 0%,
    rgba(42, 42, 42, 1) 100%
  );
}
/* header */
header {
  display: flex;
  background-color: #004d98;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 6px 5%;
}
.logo {
  height: 19vh;
}
header a img {
  height: 100%;
  object-fit: cover;
}
header a {
  height: 100%;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
}
header a:hover {
  color: #a50044;
}
.navBar {
  font-size: 15px;
}

header ul a {
  margin: 5px;
  padding: 8px 15px;
  color: white;
  font-size: 17px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
}
.messiBanner {
  width: 100%;
  height: auto;
  position: relative;
}
.messiBanner img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  box-shadow: 5px 15px 12px black;
}
.messiBanner h1 {
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 8px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end header */
/* main */
.card-1 {
  margin: 50px;
  display: flex;
  img {
    margin: 50px;
    padding: 0px;
    width: 80vh;
    border-radius: 5px;
    border-style: solid;
  }
  h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  p {
    font-size: 19px;
    margin: 30px;
    padding: 20px;
    text-align: left;
    color: white;
  }
}
.cardinicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* booton */
.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    color: white;
    text-decoration: none;
  }
}
.button-19 {
  margin: 30px;
  font-size: 20px;
  background-color: #004d98;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
}
.button-19 {
  transition-duration: 0.4s;
}
.button-19:hover {
  background-color: #edbb00;
  color: white;
}
/* end butto */
/* banner final */
.bannerFinal {
  width: 100%;
  img {
    width: 100%;
  }
}
/* footer */
.site-footer {
  background-color: #26272b;
  padding: 80px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: flex;
  justify-content: center;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.mainCard img {
  cursor: pointer;
  transition: 4s;
  filter: brightness(75%);
}
.mainCard img:hover {
  transform: scale(1.1);
  transition: 4s;
  filter: brightness(100%);
}

h4 {
  display: flex;
  justify-content: center;
  color: #737373;
}
/* nav dropdown fcBarcelona */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(240, 240, 240, 0.4);
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

