@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: rgb(190, 20, 90);
  background: linear-gradient(
    270deg,
    rgba(190, 20, 90, 1) 0%,
    rgba(42, 42, 42, 1) 100%
  );
}
/* header */
header {
  display: flex;
  background-color: #004d98;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  padding: 6px 5%;
}
.logo {
  height: 10vh;
}
header a img {
  height: 100%;
  object-fit: cover;
}
header a {
  height: 100%;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
}
header a:hover {
  color: #a50044;
}
.navBar {
  font-size: 15px;
}
nav a {
  margin: 5px;
  padding: 8px 15px;
  color: white;
  font-size: 17px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
}
.messiBanner {
  width: 100%;
  height: auto;
  position: relative;
}
.messiBanner img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
  box-shadow: 5px 8px 12px black;
}
.messiBanner h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 8px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Achievements */
.achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.achievements h2 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.achievement-card {
  background-color: #004d98;
  border-style: solid;
  width: 250px;
  height: 400;
  text-align: center;
  border-radius: 12px;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 5px 15px 12px black;
}
.achievement-card p {
  color: white;
  padding: 10px;
  font-weight: 500;
}

.achievement-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  border-style: solid;
}
/* Pseudoclase hover */
.achievement-card img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
header nav ul li a:hover {
  color: #494848;
  color: #2a2a2a;
  color: #fff;
}

header nav ul li:hover {
  background-color: #181818;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
/* BUTTON */
.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    color: white;
    text-decoration: none;
  }
}
.button-19 {
  margin: 30px;
  font-size: 20px;
  background-color: #004d98;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
}
.button-19 {
  transition-duration: 0.4s;
}
.button-19:hover {
  background-color: #edbb00;
  color: white;
}
/* BANNER FINAL*/
.bannerFinal {
  width: 100%;
  img {
    width: 100%;
  }
}
/*FOOTER*/
.site-footer {
  background-color: #26272b;
  padding: 80px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: flex;
  justify-content: center;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

h4 {
  display: flex;
  justify-content: center;
  color: #737373;
}
